<header>
    <div class="navegacion">
        <div><div class="brand"> <a class="navbar-brand" href="#">P<span class="V">V</span></a>
       
        </div>
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="#Inicio">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Sobremi">Sobre mi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contacto">Contacto</a>
            </li>
            </ul> 
          </div>
    </div>
        </header>
