<section class="Sobremi container-fluid" id="Sobremi">
    <div class="bio" >
        <img class="imacode" src="./assets/code.png" >
        <div class="biobio"  >
            <h1>Bio</h1>
            <p><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius qui illum accusantium </i></p>
        </div>
    </div>

<div class="ski">
    <h2 class="skills fw-bolder">skills</h2>
    <ul class="habi">
        <li>habilidad</li>
        <li>habilidad</li>
        <li>habilidad</li>
        <li>habilidad</li>
        <li>habilidad</li>
    </ul>
</div>
</section>
